@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		10;
	dw-num-cols-tablet:		12;
	dw-num-cols-desktop:	16;
	dw-gutter-percentage:	5;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 599px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 97%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
#about {
	clear: none;
	float: left;
	margin-left: 10.5263%;
	width: 9.5693%;
	display: block;
}
#icon {
	clear: both;
	float: left;
	margin-left: 0;
	width: 19.6172%;
	display: block;
}
#catch {
	clear: none;
	float: left;
	margin-left: 0.4784%;
	width: 9.5693%;
	display: block;
}
#contact {
	clear: none;
	float: left;
	margin-left: 50.7177%;
	width: 9.5693%;
	display: block;
}
#sample1 {
	clear: both;
	float: left;
	margin-left: 20.0956%;
	width: 59.8086%;
	display: block;
}
#sample2 {
	clear: both;
	float: left;
	margin-left: 20.0956%;
	width: 59.8086%;
	display: block;
}
#sample3 {
	clear: both;
	float: left;
	margin-left: 10.0478%;
	width: 39.7129%;
	display: block;
}
#sample4 {
	clear: none;
	float: left;
	margin-left: 0.4784%;
	width: 39.7129%;
	display: block;
}
#sample5 {
	clear: both;
	float: left;
	margin-left: 30.1435%;
	width: 39.7129%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sample6 {
	clear: none;
	float: left;
	margin-left: 10.5263%;
	width: 79.9043%;
	display: block;
}
#sample7 {
	clear: both;
	float: left;
	margin-left: 30.1435%;
	width: 39.7129%;
	display: block;
}
#title {
	clear: none;
	float: left;
	margin-left: 0.4784%;
	width: 39.7129%;
	display: block;
}
#space {
	clear: none;
	float: left;
	margin-left: 0.4784%;
	width: 100%;
	display: block;
}
#pic1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pic_dec {
	clear: both;
	float: left;
	margin-left: 10.0478%;
	width: 79.9043%;
	display: block;
}
#info {
	clear: both;
	float: left;
	margin-left: 10.0478%;
	width: 79.9043%;
	display: block;
}

/* Tablet Layout: 600px to 869px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 600px) {
.gridContainer {
	width: 97%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

#about {
	clear: none;
	float: left;
	margin-left: 17.1314%;
	width: 7.9681%;
	display: block;
}
#icon {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.3346%;
	display: block;
}
#catch {
	clear: none;
	float: left;
	margin-left: 0.3984%;
	width: 7.9681%;
	display: block;
}
#contact {
	clear: none;
	float: left;
	margin-left: 58.9641%;
	width: 7.9681%;
	display: block;
}
#sample1 {
	clear: both;
	float: left;
	margin-left: 25.0996%;
	width: 49.8007%;
	display: block;
}
#sample2 {
	clear: both;
	float: left;
	margin-left: 8.3665%;
	width: 49.8007%;
	display: block;
}
#sample3 {
	clear: none;
	float: left;
	margin-left: 0.3984%;
	width: 33.0677%;
	display: block;
}
#sample4 {
	clear: both;
	float: left;
	margin-left: 16.733%;
	width: 33.0677%;
	display: block;
}
#sample5 {
	clear: none;
	float: left;
	margin-left: 0.3984%;
	width: 33.0677%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sample6 {
	clear: both;
	float: left;
	margin-left: 16.733%;
	width: 66.5338%;
	display: block;
}
#sample7 {
	clear: both;
	float: left;
	margin-left: 33.4661%;
	width: 33.0677%;
	display: block;
}
#title {
	clear: none;
	float: left;
	margin-left: 8.7649%;
	width: 33.0677%;
	display: block;
}
#space {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pic1 {
	clear: both;
	float: left;
	margin-left: 16.733%;
	width: 66.5338%;
	display: block;
}
#pic_dec {
	clear: both;
	float: left;
	margin-left: 16.733%;
	width: 58.1673%;
	display: block;
}
#info {
	clear: both;
	float: left;
	margin-left: 16.733%;
	width: 66.5338%;
	display: block;
}
}

/* Desktop Layout: 870px to a max of 1440px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 870px) {
.gridContainer {
	width: 97%;
	max-width: 1440px;
	padding-left: 1.5%;
	padding-right: 1.5;
	margin: auto;
}
#about {
	clear: none;
	float: left;
	margin-left: 12.8358%;
	width: 5.9701%;
	display: block;
}
#icon {
	clear: both;
	float: left;
	margin-left: 0;
	width: 12.2388%;
	display: block;
	font-size: 70px;
}
#catch {
	clear: none;
	float: left;
	margin-left: 0.2985%;
	width: 5.9701%;
	display: block;
}
#contact {
	clear: none;
	float: left;
	margin-left: 6.5671%;
	width: 5.9701%;
	display: block;
}
#sample1 {
	clear: both;
	float: left;
	margin-left: 12.5373%;
	width: 37.3134%;
	display: block;
}
#sample2 {
	clear: none;
	float: left;
	margin-left: 0.2985%;
	width: 37.3134%;
	display: block;
}
#sample3 {
	clear: both;
	float: left;
	margin-left: 12.5373%;
	width: 24.7761%;
	display: block;
}
#sample4 {
	clear: none;
	float: left;
	margin-left: 0.2985%;
	width: 24.7761%;
	display: block;
}
#sample5 {
	clear: none;
	float: left;
	margin-left: 0.2985%;
	width: 24.7761%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sample6 {
	clear: both;
	float: left;
	margin-left: 12.5373%;
	width: 49.8507%;
	display: block;
}
#sample7 {
	clear: none;
	float: left;
	margin-left: 0.2985%;
	width: 24.7761%;
	display: block;
}
#title {
	clear: none;
	float: left;
	margin-left: 19.1044%;
	width: 24.7761%;
	display: block;
}
#space {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pic1 {
	clear: both;
	float: left;
	margin-left: 18.8059%;
	width: 62.388%;
	display: block;
}
#pic_dec {
	clear: both;
	float: left;
	margin-left: 18.8059%;
	width: 56.1194%;
	display: block;
}
#info {
	clear: both;
	float: left;
	margin-left: 18.8059%;
	width: 62.388%;
	display: block;
}
}
