@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
	font-weight: 100;
	box-sizing: border-box;
}
header{
	width: 100%;
	text-align: center;
	color: white;
	height: 150px;
	padding: 50px 0px;
	background-color: #009bc7;	
}
.column{
	float: left;
	font-weight: 100;
	padding: 30px;
	width: 50%;
	font-size: 14px;
	color: #333;
}

@media (min-width: 400px) and (max-width: 799px) {
	.column{
		width: 100%;
	}
}

@media (min-width: 800px) and (max-width: 1199px) {
	.column{
		width: 50%;
	}
}

@media (min-width: 1200px){
	.column{
		width: 33%;
	}
}