@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
 	max-width: 1000px;
}
h1 {
  text-align: left;
  font-size: 60px;
  margin: 10px 0 0 10px;
}
h2 {
	text-align: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 4px;
	margin-left: 10px;
}
p {
	display: inline;
	padding: 5px 10px 5px 10px;
	margin: 0 0 0 10px;
	text-align: justify;
}
li {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.chunk {
	color: #F00;
}
.non_chunk {
	color: #06F;
}
